#credentials {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.credentialTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 5rem;
    margin-bottom: 1.5rem;
}

.credentialDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    margin-bottom: 1.5rem; /* Match the margin of educationDesc */
}

.credentialBars {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
    gap: 1rem;
    width: 100%;
    max-width: 65rem;
    margin: 2rem auto;
}
.credentialBar {
    background: rgb(50, 50, 50);
    display: flex;
    align-items: center; /* Vertically center the contents of the container */
    justify-content: space-between; /* Space between the text and the button */
    margin-bottom: 1rem; /* Space between rows */
    padding: 1rem;
    border-radius: 0.5rem;
}

.credentialBarImg {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
    margin-top: 0.25rem; /* Match the margin of educationBarImg */
    border-radius: 1rem;
}

.credentialBarText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to the start (left) */
    flex: 1; /* Allow text container to grow and fill space */
    text-align: left;
}

.credentialBarText > p {
    font-size: 0.9rem;
    font-weight: 200;
    margin: 0; 
    text-align: left !important; 
}

.credentialBarText .date {
    font-style: italic; /* Match the style of educationBarText .date */
}

.credentialBarText .university {
    font-weight: bold; /* Match the style of educationBarText .university */
}

.view-button {
    margin-left: auto; /* Push the button to the right */
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
    align-self: center; /* Center button vertically if the text doesn't fill the height */
    border-radius: 2rem;
}

.view-button:hover {
    background-color: yellow;
}

/* Responsive Styles */
@media screen and (max-width:720px) {
    .credentialBarText > p {
        font-size: 2vw; /* Match the responsive style of educationBarText > p */
    }
    .credentialBars {
        grid-template-columns: 1fr; /* Stack the credential bars in a single column on smaller screens */
    }
}

@media screen and (max-width:480px) {
    .credentialBarText > p {
        font-size: 3vw; /* Match the responsive style of educationBarText > p */
    }
    .credentialBarImg {
        height: 2.25rem;
        width: 2.25rem; /* Match the responsive style of educationBarImg */
    }
    .credentialBarText {
        font-size: 5vw; /* Match the responsive style of educationBarText */
    }
}
