#contactPage {
    min-height: calc(100vh -4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact {
    width: 100vw;
    max-width: 60rem;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);
}

.submitBtn {
    background: white;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
}

.submitBtn:hover {
    background-color: yellow;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 1024px) {
    #clients {
        flex-direction: column;
        align-items: center;
    }

    .educations, .credentials {
        width: 100%;
        max-width: none;
    }
}

@media screen and (max-width: 720px) {
    .skillBarText p {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 480px) {
    .educations, .credentials {
        width: 90%; /* Adjust width for mobile */
    }

    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }

    .skillBarText p {
        font-size: 3.5vw;
    }

    .skillBarText h2 {
        font-size: 4.5vw;
    }
}