#intro {
    height: calc(100vh - 4rem);
    width: 500vw;
    max-width: 100rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    color: #000; /* Text color, adjust as needed */
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer; /* Makes it clear the button is clickable */
    text-decoration: none; /* Removes underline from the anchor */
    display: inline-block; /* Helps with alignment and spacing */
    font-size: 1rem; /* Adjust as needed */
    width: auto; /* Or you can set a specific width */
    max-width: 200px; /* Prevents the button from being too wide */
    text-align: center; /* Centers the text in the button */
}

.btn:hover {
    background: yellow; /* Button background color on hover */
    color: #000; /* Text color on hover, adjust if needed */
}



@media screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 1vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw;
}
}